@import url("https://fonts.googleapis.com/css2?family=Martel&display=swap");
/* https://coolors.co/02111b-577399-bdd5ea-f7f7ff-fe5f55 */
/*Colors*/
/*Font sizes*/
.bg-primary {
  background-color: #02111B;
}

.color-primary {
  color: #02111B;
}

.border-primary {
  border: 1px solid #02111B;
}

.bg-secondary {
  background-color: #BDD5EA;
}

.color-secondary {
  color: #BDD5EA;
}

.border-secondary {
  border: 1px solid #BDD5EA;
}

.bg-error {
  background-color: #FE5F55;
}

.color-error {
  color: #FE5F55;
}

.border-error {
  border: 1px solid #FE5F55;
}

.bg-success {
  background-color: #577399;
}

.color-success {
  color: #577399;
}

.border-success {
  border: 1px solid #577399;
}

.h-10 {
  height: 10%;
}

.w-10 {
  width: 10%;
}

.h-20 {
  height: 20%;
}

.w-20 {
  width: 20%;
}

.h-30 {
  height: 30%;
}

.w-30 {
  width: 30%;
}

.h-40 {
  height: 40%;
}

.w-40 {
  width: 40%;
}

.h-50 {
  height: 50%;
}

.w-50 {
  width: 50%;
}

.h-60 {
  height: 60%;
}

.w-60 {
  width: 60%;
}

.h-70 {
  height: 70%;
}

.w-70 {
  width: 70%;
}

.h-80 {
  height: 80%;
}

.w-80 {
  width: 80%;
}

.h-90 {
  height: 90%;
}

.w-90 {
  width: 90%;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

@media (max-width: 1050px) {
  .d-none {
    display: none;
  }
}
html {
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  color: #BDD5EA;
  font-size: 1.75rem;
}

h3 {
  font-size: 1.1rem;
}

a {
  color: #BDD5EA;
  font-size: 1.1rem;
}

p {
  color: #02111B;
  font-size: 0.9rem;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  font-family: "Martel", serif;
}

body {
  margin: 0;
}

.header-container {
  background-color: #02111B;
  padding: 1.25rem 0 0 0;
}
.header-container a {
  text-decoration: none;
}
.header-container a h1 {
  padding: 0 5.75rem;
  margin: 0;
  text-shadow: 2px 2px 4px silver;
}
.header-container a h1:hover {
  text-shadow: 4px 4px 8px silver;
}
.header-container .header-container-sec {
  align-items: center;
  border-bottom: 0.3rem solid #FE5F55;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 2rem;
}
.header-container .header-container-sec nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}
.header-container .header-container-sec nav ul li a {
  text-align: right;
  text-decoration: none;
  padding: 0 1.8rem;
  font-weight: 600;
}
.header-container .header-container-sec nav ul li a:link {
  color: #577399;
  text-decoration: none;
}
.header-container .header-container-sec nav ul li a:hover {
  color: white;
  cursor: pointer;
}
.header-container .header-container-sec nav ul li a:active {
  color: #FE5F55;
  text-decoration: underline;
}
.header-container .form-search {
  display: block;
  width: 18rem;
}

@media (min-width: 470px) and (max-width: 900px) {
  .header-container {
    text-align: center;
  }
  .header-container .header-container-sec {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .header-container .header-container-sec a h1 {
    padding: 1rem 0 0 0;
    margin: 0;
  }
  .header-container .header-container-sec .form-search {
    display: block;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    width: -moz-max-content;
    width: max-content;
  }
  .header-container .header-container-sec .form-search input {
    width: 22rem;
  }
}
@media (max-width: 470px) {
  .header-container {
    text-align: center;
  }
  .header-container .header-container-sec {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .header-container .header-container-sec a h1 {
    padding: 1rem 0 0 0;
    margin: 0;
  }
  .header-container .header-container-sec .form-search {
    display: block;
    margin: 0 auto;
    padding: 0 0 1rem 0;
    width: -moz-max-content;
    width: max-content;
  }
  .header-container .header-container-sec .form-search input {
    width: 18rem;
  }
}
.main-container {
  min-height: 23.8rem;
  background-color: #BDD5EA;
}
.main-container .banner1 {
  width: 100%;
}
.main-container .container-2 {
  padding: 3rem;
}

@media (max-width: 600px) {
  .main-container .container-2 {
    padding: 0.5rem;
  }
}
.footer-container {
  align-items: center;
  background-color: #577399;
  display: flex;
  justify-content: space-between;
  padding: 0 6rem;
}

.contact-container p {
  justify-content: left;
  margin: 0;
}

.network-container nav ul {
  list-style-type: none;
}
.network-container nav ul li {
  display: inline-block;
  padding: 0.5rem;
}
.network-container nav ul li a {
  display: flex;
  align-items: center;
}
.network-container nav ul li a img {
  height: auto;
  width: 2.75rem;
}

@media (max-width: 600px) {
  .footer-container {
    padding: 2rem 0 0 0;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
.buy-button {
  background-color: #02111B;
  border-radius: 0.5rem;
  margin: 0.75rem;
  padding: 0.5rem 0;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.buy-button a {
  color: #BDD5EA;
  text-decoration: none;
}
.buy-button:hover {
  background-color: #062f4a;
  cursor: pointer;
}
.buy-button:active {
  background-color: #FE5F55;
  cursor: pointer;
}
.buy-button:active a {
  color: #02111B;
}

.b-alta {
  background-color: #577399;
  border-radius: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 0;
  width: 25rem;
}
.b-alta:hover {
  background-color: #738db0;
  cursor: pointer;
}
.b-alta:active {
  background-color: #FE5F55;
  cursor: pointer;
  color: #02111B;
}

@media (max-width: 600px) {
  .b-alta {
    width: 16rem;
  }
}
.card-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
.card-container .card {
  padding: 0;
  margin: 0;
  background-color: #577399;
  border-radius: 0.75rem;
  box-shadow: 2px 2px 2px 0.5px rgba(0, 0, 0, 0.2);
  display: inline-block;
  height: 28.5rem;
  margin: 1.5rem 1rem;
  text-align: center;
  width: 16.5rem;
  color: #02111B;
}
.card-container .card h3 {
  margin: 0;
  padding: 0.5rem 0;
}
.card-container .card img {
  border-radius: 0.25rem;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  height: 15rem;
  margin: 0;
}
.card-container .card .h-description {
  height: 4.5rem;
  margin: 0 1rem;
}
.card-container .card .h-description .d-none {
  font-weight: bold;
}
.card-container .card .h-description p {
  margin: 0;
}

@media (max-width: 1050px) {
  .card-container .card {
    height: 27rem;
  }
  .card-container .card .h-description {
    height: 3.5rem;
  }
}
fieldset {
  align-items: left;
  display: flex;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border: 0.25rem solid #577399;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  padding: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
fieldset legend {
  background-color: #a4b5cb;
  text-shadow: 2.25px 2.25px 2px rgba(0, 0, 0, 0.2);
  border: 0.25rem solid #577399;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  color: #02111B;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.12rem 0.5rem;
  text-align: center;
  width: 20rem;
}
fieldset .container-3 {
  flex-direction: column;
}

.fieldset-alta {
  background-image: url("/img/fondo-toys2.jpg");
}

.fieldset-contacto {
  background-image: url("/img/fondo-toys.jpg");
  flex-direction: row;
}
.fieldset-contacto .fielset-img {
  width: 22rem;
  margin: 0 0 0 3.5rem;
}

@media (max-width: 600px) {
  .fieldset-alta legend {
    width: 15rem;
  }
}
.form-control[aria-invalid=true] {
  outline: 2px solid #FE5F55;
}

.info-container {
  height: 6rem;
  width: 25rem;
}
.info-container p {
  margin: 0.2rem;
  font-weight: bold;
}

.info-container-textarea {
  height: 12.5rem;
  width: 25rem;
}
.info-container-textarea p {
  margin: 0.2rem;
  font-weight: bold;
}

.info-container-check {
  height: 6rem;
}
.info-container-check p {
  margin: 0.2rem;
  font-weight: bold;
}

@media (min-width: 470px) and (max-width: 900px) {
  .info-container {
    width: 17rem;
  }
  .info-container-check {
    width: 17rem;
  }
  .info-container-textarea {
    width: 17rem;
  }
}
@media (max-width: 470px) {
  .info-container {
    width: 17rem;
  }
  .info-container-check {
    width: 17rem;
  }
  .info-container-textarea {
    width: 17rem;
  }
}
i {
  color: #02111B;
  padding: 0.4rem;
}

input {
  background-color: #b4c2d5;
  border-radius: 0.25rem;
  color: #02111B;
  padding: 0.4rem;
  width: 24rem;
}

.b-photo {
  background-color: transparent;
}

.i-search {
  width: 15rem;
  background-color: #EFEFEF;
}

.input-msg-error {
  display: none;
  color: #FE5F55;
}

.d-input-check {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  width: 1rem;
}

input:focus {
  background-color: #BDD5EA;
}

@media (max-width: 600px) {
  input {
    width: 16rem;
  }
}
.label-required::after {
  content: "*";
  color: #FE5F55;
  margin-left: 0.5rem;
}

label {
  display: inline-block;
  color: #02111B;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0.25rem;
  text-align: left;
  width: 15rem;
}

.d-label-check {
  width: 10rem;
}

textarea {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 2px inset rgba(0, 0, 0, 0.678);
  border-radius: 0.25rem;
  background-color: #b4c2d5;
  min-height: 8rem;
  resize: none;
  padding: 0.125rem 0.5rem;
  width: 23.75rem;
}

textarea:focus {
  background-color: #BDD5EA;
}

@media (max-width: 600px) {
  textarea {
    width: 16rem;
  }
}/*# sourceMappingURL=main.css.map */