.footer-container {
    align-items: center;
    background-color: $secondary-color;
    border-top: 0.25rem solid $success-color;
    display: flex;
    justify-content: center;
    min-height: 1rem;
    padding: 0.25rem 2rem;
    width: 100%;
    p {
        font-size: 1rem;
    }
}