body {
    margin: 0;

}
.header-container {
    align-items: center;
    background-color: $primary-color;
    border-bottom: 0.3rem solid $error-color;
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 2rem;
    a {
        text-decoration: none;
        h1 {
            text-shadow: 2px 2px 4px silver; 
            &:hover {
            text-shadow: 4px 4px 8px silver;  
            }   
        }
    }
    nav {
        ul {
        list-style-type: none;
        display: flex;
        padding: 0;
            li {
                a {
                    text-align: right;
                    text-decoration: none;
                    padding: 0 2rem;
                    font-weight: 600;
                    &:link {
                        color: $success-color;
                        text-decoration: none;
                    }
                    &:hover {
                        color: lighten($color: $secondary-color, $amount: 50);
                        cursor: pointer;
                    }
                    &:active {
                        color: $error-color;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .form-header {
        width: 15rem;
    }
}
