.main-container {
    min-height: 23.1rem;
    background-color: $secondary-color;
    .banner1 {
        width: 100%;
    }
    .container-2 {
        padding: 2rem;
    }
}
@media (max-width: 620px) {
    .main-container {
        .container-2 {
            padding: 2rem 0.25rem;
        }
    }
}
