.main-container {
    min-height: 23.8rem;
    background-color: $secondary-color;
    .banner1 {
        width: 100%;
    }
    .container-2 {
        padding: 3rem;
    }
}
@media (max-width: 600px) {
    .main-container {
        .container-2 {
            padding: 0.5rem;
        }
    }
}
