fieldset {
    align-items: left;
    display: flex;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border: 0.25rem solid $success-color;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
    flex-direction: row;
    padding: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
    legend {
        background-color: lighten($color: $success-color, $amount: 25);
        text-shadow: 2.25px 2.25px 2px rgba(0, 0, 0, 0.2);
        border: 0.25rem solid $success-color;
        border-radius: 0.5rem;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
        color: $primary-color;
        font-size: $font-size-xl;
        font-weight: bold;
        padding: 0.12rem 0.5rem;
        text-align: center;
        width: 20rem;
    }
    .container-3 {
        flex-direction: column;

    }
    .container-4 {
        flex-direction: column;
        margin: 0 0 0 1rem;
    }
}

.fieldset-alta {
    background-image: url("/img/fondo-toys2.jpg");
    flex-direction: row;
}
.fieldset-contacto {
    background-image: url("/img/fondo-toys.jpg");
    flex-direction: row;
    .fielset-img {
        width: 22rem;
   margin: 0 0 0 3.5rem;
    }
}
@media (max-width: 1000px) {
    .fieldset-alta {
        flex-direction: column;
        legend {
            width: 15rem;
        }
        .container-4 {
            margin: 0;
        }
    } 
    .fielset-img {
        display: none;
    } 
    .fieldset-contacto {
        legend {
            width: 15rem;
        }
    } 
} 

