.form-control[aria-invalid="true"] {
    outline: 2px solid $error-color;
}
.info-container {
    height: 6rem;
    width: 25rem;
    p {
        margin: 0.2rem;
        font-weight: bold;
    }
}
.info-container-textarea-alta {
    height: 18.25rem;
    width: 25rem;
    p {
        margin: 0.2rem;
        font-weight: bold;
    }
}
.info-container-textarea {
    height: 12.5rem;
    width: 25rem;
    p {
        margin: 0.2rem;
        font-weight: bold;
    }
}
.info-container-check {
    height: 6rem;
    p {
        margin: 0.2rem;
        font-weight: bold;
    }
}

@media (min-width: 470px) and (max-width: 900px) {
    .info-container {
        width: 17rem;
    }
    .info-container-check {
        width: 17rem;
    }
    .info-container-textarea {
        width: 17rem;
    }
    .info-container-textarea-alta {
        width: 17rem;
    }
}

@media (max-width: 470px) {
    .info-container {
        width: 17rem;
    }
    .info-container-check {
        width: 17rem;
    }
    .info-container-textarea {
        width: 17rem;
    }
    .info-container-textarea-alta {
        width: 17rem;
    }
}