input {
    background-color: lighten($color: $success-color, $amount: 30);
    border-radius: 0.25rem;
    color: $primary-color;
    padding: 0.4rem;
    width: 20.5rem;
}
.b-photo {
    background-color: transparent;
}
.i-search {
    width: 15rem;
    background-color: #EFEFEF;
}
.input-msg-error {
    display: none;
    color: $error-color;
}
.d-input-check {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 1rem;
}
input:focus {
    background-color: $secondary-color;
}
@media (max-width: 600px) {
    input{
        width: 16rem;
    }
}
