
html {
    font-size: 16px;
}
body {
    margin: 0;
}
h1 {
    color: $secondary-color;
    font-size: $font-size-lg;
}
a {
    color: $secondary-color;
    font-size: $font-size-md;
}
p {
    color: $primary-color;
    font-size: $font-size-md;
}